.gradient-custom {

  background: linear-gradient(
    270deg,
    hsla(210, 100%, 70%, 1) 0%,
    hsla(210, 100%, 20%, 1) 100%
  );
  background: -moz-linear-gradient(270deg, hsla(210, 100%, 70%, 1) 0%, hsla(210, 100%, 20%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(210, 100%, 70%, 1) 0%, hsla(210, 100%, 20%, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99c9ff", endColorstr="#003366", GradientType=1);
}

.background-glass {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

input.form-control {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  color: #000;
}

input.form-control::placeholder {
  color: #ddd;
}

button.btn-primary {
  background-color: #3399ff;
  border-color: #3399ff;
}

button.btn-primary:hover {
  background-color: #267acc;
  border-color: #267acc;
}

.logo {
  max-width: 60%;
  margin-top: 10px;
}

.sistema-titulo {
  font-size: 20px;
  font-weight: 600;
}
