<div class="gradient-custom min-vh-100 p-4">
  <div class="background-glass p-4">
    <h2 class="system-title mb-4">Usuários</h2>

    <div class="table-responsive">
      <div *ngIf="isLoading" class="text-center mt-4">
        <p>Carregando usuários...</p>
      </div>

      <table class="table table-hover" *ngIf="!isLoading && usuarios.length > 0">
        <thead>
          <tr>
            <th>Matrícula</th>
            <th>Setor</th>
            <th>Nome do Usuário</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of usuarios">
            <td>{{ f.matricula }}</td>
            <td>{{ f.setor }}</td>
            <td>{{ f.nome }}</td>
            <td class="actions">
              <div class="d-flex gap-2">
                <button class="btn btn-outline-info btn-sm rounded-pill shadow-sm flex-fill"
                  (click)="visualizarUsuario(f)">
                  <i class="bi bi-eye"></i>
                </button>
                <button class="btn btn-outline-secondary btn-sm rounded-pill shadow-sm flex-fill"
                  (click)="editarUsuario(f)">
                  <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-outline-danger btn-sm rounded-pill shadow-sm flex-fill"
                  (click)="removerUsuario(f)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!isLoading && usuarios.length === 0" class="text-center mt-4">
        <p>Nenhum usuário cadastrado.</p>
      </div>
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-primary btn-sm rounded-pill shadow-sm" (click)="cadastrarUsuario()">
        <i class="bi bi-person-plus"></i> Cadastrar
      </button>
    </div>
  </div>
</div>